platforms
plugins
<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>

<head>
    <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/index1.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="cordova.js"></script>



    <!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
    <title>Assignment</title>
</head>

<body background="img/background.jpg">
    <div data-role="page" id="login">
        <!-- <div class="container"> -->
        <div data-role="header"></div>

        <div data-role="main" class="ui-content container">
            <div class="sub-container">
                <!-- <button type="button" name="button"><i class="fa fa-user-plus fa-2"></i>REGISTER</button> -->
                <a href="#page2" class="myButton" data-transition="pop"><i class="fa fa-user-plus fa-2"></i>Register</a>
            </div>
            <div class="sub-container">
                <!-- <button type="button" name="button"><i class="fa fa-user-plus fa-2"></i>REGISTER</button> -->
                <a href="#" class="myButton"><i class="fa fa-user-plus fa-2"></i>Login</a>
            </div>
            <div class="sub-container">
                <!-- <button type="button" name="button"><i class="fa fa-user-plus fa-2"></i>REGISTER</button> -->
                <a href="#" class="myButton"><i class="fa fa-user-plus fa-2"></i>Exit</a>
            </div>

            <!-- </div> -->
        </div>
    </div>

    <div class="" data-role="page" id="register">
        <!-- <div class="container"> -->
        <div data-role="header"></div>
        <div data-role="main" class="ui-content container">
            <div class="sub-container">
                <a href="#page1" class="myButton" data-transition="pop"><i class="fa fa-user-plus fa-2"></i>Back</a>
            </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- <a href="#" class="myButton"><i class="fa fa-user-plus fa-2"></i>green</a> -->



</body>

</html>










<!-- <div data-role="page" id="pageone">
    <div data-role="header">
        <h1>Welcome To My Homepage</h1>
    </div>

    <div data-role="main" class="ui-content">
        <p>Click on the link to see the pop effect.</p>
        <a href="#pagetwo" data-transition="pop">Pop to Page Two</a>
    </div>

    <div data-role="footer">
        <h1>Footer Text</h1>
    </div>
</div>

<div data-role="page" id="pagetwo">
    <div data-role="header">
        <h1>Welcome To My Homepage</h1>
    </div>

    <div data-role="main" class="ui-content">
        <p>Click on the link to go back. <b>Note</b>: fade is default.</p>
        <a href="#pageone">Go to Page One</a>
    </div>

    <div data-role="footer">
        <h1>Footer Text</h1>
    </div>
</div> -->









<!-- <!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

    <div data-role="page" id="pageone">
        <div data-role="header">
            <h1>Welcome To My Homepage</h1>
        </div>

        <div data-role="main" class="ui-content">
            <p>Click on the link to see the pop effect.</p>
            <a href="#pagetwo" data-transition="pop">Pop to Page Two</a>
        </div>

        <div data-role="footer">
            <h1>Footer Text</h1>
        </div>
    </div>

    <div data-role="page" id="pagetwo">
        <div data-role="header">
            <h1>Welcome To My Homepage</h1>
        </div>

        <div data-role="main" class="ui-content">
            <p>Click on the link to go back. <b>Note</b>: fade is default.</p>
            <a href="#pageone">Go to Page One</a>
        </div>

        <div data-role="footer">
            <h1>Footer Text</h1>
        </div>
    </div>

</body>

</html> -->

<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>

<head>
    <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/index1.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="cordova.js"></script>



    <!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
    <title>Assignment</title>
</head>

<body background="img/background.jpg">
    <div data-role="page" id="login">
        <!-- <div class="container"> -->

        <div data-role="main" class="ui-content">
            <div class="sub-container">
                <!-- <button type="button" name="button"><i class="fa fa-user-plus fa-2"></i>REGISTER</button> -->
                <a href="#register" class="myButton" data-transition="pop"><i class="fa fa-user-plus fa-2"></i>Register</a>
            </div>
            <div class="sub-container">
                <!-- <button type="button" name="button"><i class="fa fa-user-plus fa-2"></i>REGISTER</button> -->
                <a href="#" class="myButton"><i class="fa fa-user-plus fa-2"></i>Login</a>
            </div>
            <div class="sub-container">
                <!-- <button type="button" name="button"><i class="fa fa-user-plus fa-2"></i>REGISTER</button> -->
                <a href="#" class="myButton"><i class="fa fa-user-plus fa-2"></i>Exit</a>
            </div>

            <!-- </div> -->
        </div>
    </div>

    <div class="" data-role="page" id="register">
        <!-- <div class="container"> -->
        <div data-role="main" class="ui-content">
            <a href="#login" class="myButton" data-transition="pop"><i class="fa fa-user-plus fa-2"></i>Back</a>
        </div>
        <!-- </div> -->
    </div>
    <!-- <a href="#" class="myButton"><i class="fa fa-user-plus fa-2"></i>green</a> -->



</body>

</html>
<!-- <div data-role="page" id="pageone">
    <div data-role="header">
        <h1>Welcome To My Homepage</h1>
    </div>

    <div data-role="main" class="ui-content">
        <p>Click on the link to see the pop effect.</p>
        <a href="#pagetwo" data-transition="pop">Pop to Page Two</a>
    </div>

    <div data-role="footer">
        <h1>Footer Text</h1>
    </div>
</div>

<div data-role="page" id="pagetwo">
    <div data-role="header">
        <h1>Welcome To My Homepage</h1>
    </div>

    <div data-role="main" class="ui-content">
        <p>Click on the link to go back. <b>Note</b>: fade is default.</p>
        <a href="#pageone">Go to Page One</a>
    </div>

    <div data-role="footer">
        <h1>Footer Text</h1>
    </div>
</div> -->



<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>

<head>
    <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/index1.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="cordova.js"></script>



    <!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
    <title>Assignment</title>
</head>

<body background="img/background.jpg">
    <div data-role="page" id="page1">
        <!-- <div class="container"> -->
        <div data-role="header"></div>

        <div data-role="main" class=" container ui-content">
            <div class="sub-container">
                <!-- <button type="button" name="button"><i class="fa fa-user-plus fa-2"></i>REGISTER</button> -->
                <a href="#page2" class="myButton" data-transition="pop"><i class="fa fa-user-plus fa-2"></i>Register</a>
            </div>
            <div class="sub-container">
                <!-- <button type="button" name="button"><i class="fa fa-user-plus fa-2"></i>REGISTER</button> -->
                <a href="#" class="myButton"><i class="fa fa-user-plus fa-2"></i>Login</a>
            </div>
            <div class="sub-container">
                <!-- <button type="button" name="button"><i class="fa fa-user-plus fa-2"></i>REGISTER</button> -->
                <a href="#" class="myButton"><i class="fa fa-user-plus fa-2"></i>Exit</a>
            </div>

            <!-- </div> -->
        </div>
    </div>

    <div class="" data-role="page" id="page2">
        <!-- <div class="container"> -->
        <div data-role="header"></div>
        <div data-role="main" class="ui-content">
            <div class="sub-container">
                <a href="#page1" class="myButton" data-transition="pop"><i class="fa fa-user-plus fa-2"></i>Back</a>
            </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- <a href="#" class="myButton"><i class="fa fa-user-plus fa-2"></i>green</a> -->



</body>

</html>
<!-- <div data-role="page" id="pageone">
    <div data-role="header">
        <h1>Welcome To My Homepage</h1>
    </div>

    <div data-role="main" class="ui-content">
        <p>Click on the link to see the pop effect.</p>
        <a href="#pagetwo" data-transition="pop">Pop to Page Two</a>
    </div>

    <div data-role="footer">
        <h1>Footer Text</h1>
    </div>
</div>

<div data-role="page" id="pagetwo">
    <div data-role="header">
        <h1>Welcome To My Homepage</h1>
    </div>

    <div data-role="main" class="ui-content">
        <p>Click on the link to go back. <b>Note</b>: fade is default.</p>
        <a href="#pageone">Go to Page One</a>
    </div>

    <div data-role="footer">
        <h1>Footer Text</h1>
    </div>
</div> -->
